.main{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif   ;
        width: 100%;
        height: 500px;
    }
    .main h4{
    
        margin-left: 40px;
        float: inline-start;
    }
    .main h1{
        font-size: 60px;
        margin-left: 40px;
        margin-top: 0px;
        font-weight: bolder;
    }
    .main h3{
       margin-left: 40px;
       padding-top: 100px; 
       color: red;
    }
    .main img{
    display: block;
    margin-top: -350px;
    padding-left: 200px;
        
    
    }